.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 10px;
}
.table-container {
  border-color: rgb(187, 187, 187);
  border-width: 1px;
  border-style: solid;
  width: 98%;
  border-radius: 10px;
}
.bottom-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.table-container h2 {
  margin: 0;
  text-decoration: underline;
}

table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-collapse: separate;
  width: 100%;
  border-radius: 10px;
}
table thead {
  background-color: red;
}

table td,
table th {
  padding: 8px;
}

/* table tr:nth-child(even) {
  background-color: #e9ebec;
} */

/* table tr:hover {
  background-color: white;
} */

table tr {
  background-color: white;
}

table th,
tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: start;
  background-color: rgb(233, 233, 233);
  color: black;
}

.columns_toggle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: rgb(175, 228, 122);
  padding: 0.5rem;
}
.dropdown {
  border: 1px solid black;
  padding: 10px;
  border-radius: 16px;
}
.show-span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: inline;
}

.pagination li {
  display: inline-block;
}

.active {
  font-weight: bold;
  font-size: 18px;
  background-color: red;
  text-decoration: underline;
}
.page-item {
  border-width: 0;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  color: darkblue;
}
.page-link-text {
  font-size: 18;
  color: darkblue;
}

.page-three-dots {
  font-weight: bold;
}
